<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{607,360}</string>
                <key>spriteSourceSize</key>
                <string>{607,360}</string>
                <key>textureRect</key>
                <string>{{0,0},{607,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msgbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,505}</string>
                <key>spriteSourceSize</key>
                <string>{890,505}</string>
                <key>textureRect</key>
                <string>{{0,360},{890,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_bangdingdaili.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,59}</string>
                <key>spriteSourceSize</key>
                <string>{204,59}</string>
                <key>textureRect</key>
                <string>{{0,865},{204,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>true.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,97}</string>
                <key>spriteSourceSize</key>
                <string>{210,97}</string>
                <key>textureRect</key>
                <string>{{204,865},{210,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,97}</string>
                <key>spriteSourceSize</key>
                <string>{210,97}</string>
                <key>textureRect</key>
                <string>{{414,865},{210,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{890,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83c26b5f368a303bbb7200821e072b1f:25e2d056da62ca5c5425d4d6a16bc1df:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
