<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,79}</string>
                <key>spriteSourceSize</key>
                <string>{67,79}</string>
                <key>textureRect</key>
                <string>{{1206,167},{67,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_addcash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{1809,510},{54,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{1688,442},{63,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,32}</string>
                <key>spriteSourceSize</key>
                <string>{60,32}</string>
                <key>textureRect</key>
                <string>{{1753,442},{60,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cashbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,55}</string>
                <key>spriteSourceSize</key>
                <string>{236,55}</string>
                <key>textureRect</key>
                <string>{{987,510},{236,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuangjianfang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,115}</string>
                <key>spriteSourceSize</key>
                <string>{446,115}</string>
                <key>textureRect</key>
                <string>{{488,205},{446,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chuangjianfangjianxiaochangjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{502,439}</string>
                <key>spriteSourceSize</key>
                <string>{502,439}</string>
                <key>textureRect</key>
                <string>{{1283,1},{502,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dingbuuibantoumingdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,100}</string>
                <key>spriteSourceSize</key>
                <string>{1280,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{1134,448},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangkaxiaobeijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,42}</string>
                <key>spriteSourceSize</key>
                <string>{241,42}</string>
                <key>textureRect</key>
                <string>{{1162,205},{241,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>feedback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,133}</string>
                <key>spriteSourceSize</key>
                <string>{145,133}</string>
                <key>textureRect</key>
                <string>{{987,346},{145,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ffanghuifangj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,115}</string>
                <key>spriteSourceSize</key>
                <string>{446,115}</string>
                <key>textureRect</key>
                <string>{{488,322},{446,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goumaixiaojiahao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{1895,193},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huodong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,126}</string>
                <key>spriteSourceSize</key>
                <string>{122,126}</string>
                <key>textureRect</key>
                <string>{{1360,442},{122,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiaruyouxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,115}</string>
                <key>spriteSourceSize</key>
                <string>{446,115}</string>
                <key>textureRect</key>
                <string>{{488,439},{446,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaruyouxixiaochangjing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,398}</string>
                <key>spriteSourceSize</key>
                <string>{485,398}</string>
                <key>textureRect</key>
                <string>{{1,167},{485,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{69,54}</string>
                <key>textureRect</key>
                <string>{{1753,510},{55,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paomadengbeijing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{716,36}</string>
                <key>spriteSourceSize</key>
                <string>{716,36}</string>
                <key>textureRect</key>
                <string>{{488,167},{716,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,133}</string>
                <key>spriteSourceSize</key>
                <string>{117,133}</string>
                <key>textureRect</key>
                <string>{{1225,442},{117,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,79}</string>
                <key>spriteSourceSize</key>
                <string>{67,79}</string>
                <key>textureRect</key>
                <string>{{1206,248},{67,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1604,442},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxing001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,146}</string>
                <key>spriteSourceSize</key>
                <string>{145,146}</string>
                <key>textureRect</key>
                <string>{{1787,362},{145,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touxingbg001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{1488,442},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>userbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,35}</string>
                <key>spriteSourceSize</key>
                <string>{190,35}</string>
                <key>textureRect</key>
                <string>{{1895,1},{190,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wuhanmajiangtitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,49}</string>
                <key>spriteSourceSize</key>
                <string>{318,49}</string>
                <key>textureRect</key>
                <string>{{936,205},{318,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiao'xi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,79}</string>
                <key>spriteSourceSize</key>
                <string>{67,79}</string>
                <key>textureRect</key>
                <string>{{1206,329},{67,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaolaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,34}</string>
                <key>spriteSourceSize</key>
                <string>{39,34}</string>
                <key>textureRect</key>
                <string>{{1604,526},{39,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xixia001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,62}</string>
                <key>spriteSourceSize</key>
                <string>{1280,62}</string>
                <key>textureRect</key>
                <string>{{1,103},{1280,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,139}</string>
                <key>spriteSourceSize</key>
                <string>{173,139}</string>
                <key>textureRect</key>
                <string>{{987,205},{173,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuziyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,359}</string>
                <key>spriteSourceSize</key>
                <string>{106,359}</string>
                <key>textureRect</key>
                <string>{{1787,1},{106,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main_scene.png</string>
            <key>size</key>
            <string>{1933,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd4c97b26c40f807e668ff52395f693d:228a9841de241849dd0f278c85e93d7e:53fdf7535e906b86b047db486fe8d804$</string>
            <key>textureFileName</key>
            <string>main_scene.png</string>
        </dict>
    </dict>
</plist>
