<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alarm_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,82}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{1,1619},{79,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>banker_sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{72,1700},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_agree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{1,49},{208,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_sala.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{1,120},{208,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dismiss_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{1,191},{208,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,880},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,51}</string>
                <key>spriteSourceSize</key>
                <string>{57,51}</string>
                <key>textureRect</key>
                <string>{{203,1577},{57,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_pass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,126}</string>
                <key>spriteSourceSize</key>
                <string>{130,126}</string>
                <key>textureRect</key>
                <string>{{1,1144},{130,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,134}</string>
                <key>spriteSourceSize</key>
                <string>{130,134}</string>
                <key>textureRect</key>
                <string>{{1,748},{130,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{1,262},{208,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_refuse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,69}</string>
                <key>spriteSourceSize</key>
                <string>{208,69}</string>
                <key>textureRect</key>
                <string>{{1,333},{208,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{72,1758},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,1272},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_weixin_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,70}</string>
                <key>spriteSourceSize</key>
                <string>{304,70}</string>
                <key>textureRect</key>
                <string>{{131,1511},{304,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{1,1402},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decision_sign_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,122}</string>
                <key>spriteSourceSize</key>
                <string>{110,122}</string>
                <key>textureRect</key>
                <string>{{142,654},{110,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decision_sign_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,130}</string>
                <key>spriteSourceSize</key>
                <string>{122,130}</string>
                <key>textureRect</key>
                <string>{{133,898},{122,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decision_sign_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,120}</string>
                <key>spriteSourceSize</key>
                <string>{124,120}</string>
                <key>textureRect</key>
                <string>{{133,1030},{124,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decision_sign_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,126}</string>
                <key>spriteSourceSize</key>
                <string>{184,126}</string>
                <key>textureRect</key>
                <string>{{1,404},{184,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decision_sign_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,1012},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dismiss_room_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,46}</string>
                <key>spriteSourceSize</key>
                <string>{233,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fan_pao_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,38}</string>
                <key>spriteSourceSize</key>
                <string>{87,38}</string>
                <key>textureRect</key>
                <string>{{203,1701},{87,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headallbk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{102,103}</string>
                <key>textureRect</key>
                <string>{{131,1318},{102,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>headbk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{133,1156},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>laizi_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{131,1422},{87,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mahjong_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,44}</string>
                <key>spriteSourceSize</key>
                <string>{484,44}</string>
                <key>textureRect</key>
                <string>{{211,49},{484,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_bubble_btm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{69,64}</string>
                <key>textureRect</key>
                <string>{{1,1700},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_bubble_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{203,1511},{64,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_bubble_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,52}</string>
                <key>spriteSourceSize</key>
                <string>{71,52}</string>
                <key>textureRect</key>
                <string>{{178,599},{71,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_bubble_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1,1766},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>msg_set_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,73}</string>
                <key>spriteSourceSize</key>
                <string>{175,73}</string>
                <key>textureRect</key>
                <string>{{1,532},{175,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>off_line_sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,41}</string>
                <key>spriteSourceSize</key>
                <string>{63,41}</string>
                <key>textureRect</key>
                <string>{{203,1636},{63,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>outmjtile_sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{34,45}</string>
                <key>textureRect</key>
                <string>{{142,607},{34,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,75}</string>
                <key>spriteSourceSize</key>
                <string>{62,75}</string>
                <key>textureRect</key>
                <string>{{178,535},{62,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>speaker1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{236,1},{6,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timebk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,38}</string>
                <key>spriteSourceSize</key>
                <string>{104,38}</string>
                <key>textureRect</key>
                <string>{{131,1278},{104,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_pos_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,110}</string>
                <key>spriteSourceSize</key>
                <string>{28,110}</string>
                <key>textureRect</key>
                <string>{{137,838},{28,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>turn_pos_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{137,778},{110,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_pos_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,110}</string>
                <key>spriteSourceSize</key>
                <string>{28,110}</string>
                <key>textureRect</key>
                <string>{{137,868},{28,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>turn_pos_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,28}</string>
                <key>spriteSourceSize</key>
                <string>{110,28}</string>
                <key>textureRect</key>
                <string>{{137,808},{110,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>turn_pos_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{1,607},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>voice_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,88}</string>
                <key>spriteSourceSize</key>
                <string>{87,88}</string>
                <key>textureRect</key>
                <string>{{1,1530},{87,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>play_scene.png</string>
            <key>size</key>
            <string>{256,1831}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c438f1237dd620bc8adbad9f6f3c5e22:cc95de6eff211a44c7d06725428cc2ad:ca72ed2e62fd901316fef6ea7eb08a16$</string>
            <key>textureFileName</key>
            <string>play_scene.png</string>
        </dict>
    </dict>
</plist>
