<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nvxiongmao001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,398}</string>
                <key>spriteSourceSize</key>
                <string>{485,398}</string>
                <key>textureRect</key>
                <string>{{1,1},{485,398}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play_scene_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,36}</string>
                <key>spriteSourceSize</key>
                <string>{114,36}</string>
                <key>textureRect</key>
                <string>{{401,334},{114,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play_scene_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,36}</string>
                <key>spriteSourceSize</key>
                <string>{114,36}</string>
                <key>textureRect</key>
                <string>{{207,563},{114,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_scene_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{429,507},{27,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_fangxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,563},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_fangxiang_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,92}</string>
                <key>spriteSourceSize</key>
                <string>{21,92}</string>
                <key>textureRect</key>
                <string>{{439,334},{21,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_fangxiang_001_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,93}</string>
                <key>spriteSourceSize</key>
                <string>{21,93}</string>
                <key>textureRect</key>
                <string>{{96,670},{21,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sichuan_room_fangxiang_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,21}</string>
                <key>spriteSourceSize</key>
                <string>{93,21}</string>
                <key>textureRect</key>
                <string>{{1,669},{93,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_fangxiang_002_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,21}</string>
                <key>spriteSourceSize</key>
                <string>{93,21}</string>
                <key>textureRect</key>
                <string>{{207,601},{93,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_fangxiang_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,21}</string>
                <key>spriteSourceSize</key>
                <string>{93,21}</string>
                <key>textureRect</key>
                <string>{{207,624},{93,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_fangxiang_003_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,21}</string>
                <key>spriteSourceSize</key>
                <string>{93,21}</string>
                <key>textureRect</key>
                <string>{{207,647},{93,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_fangxiang_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,93}</string>
                <key>spriteSourceSize</key>
                <string>{21,93}</string>
                <key>textureRect</key>
                <string>{{191,670},{21,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sichuan_room_fangxiang_004_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,93}</string>
                <key>spriteSourceSize</key>
                <string>{21,93}</string>
                <key>textureRect</key>
                <string>{{286,670},{21,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sichuan_room_huatong_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{334,488},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_huatong_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{302,601},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_shezhi_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{334,545},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sichuan_room_shezhi_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{358,601},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_xiaoxi_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{401,450},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_room_xiaoxi_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{391,545},{54,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sichuan_ting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{414,601},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuan_zhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{390,507},{36,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sichuantouxiang002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{98,96}</string>
                <key>textureRect</key>
                <string>{{107,563},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,23}</string>
                <key>spriteSourceSize</key>
                <string>{331,23}</string>
                <key>textureRect</key>
                <string>{{1,488},{331,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,23}</string>
                <key>spriteSourceSize</key>
                <string>{331,23}</string>
                <key>textureRect</key>
                <string>{{401,1},{331,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenzi003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,23}</string>
                <key>spriteSourceSize</key>
                <string>{331,23}</string>
                <key>textureRect</key>
                <string>{{1,513},{331,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenzi004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,23}</string>
                <key>spriteSourceSize</key>
                <string>{331,23}</string>
                <key>textureRect</key>
                <string>{{426,1},{331,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenzi005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,23}</string>
                <key>spriteSourceSize</key>
                <string>{331,23}</string>
                <key>textureRect</key>
                <string>{{1,538},{331,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playScenesc.png</string>
            <key>size</key>
            <string>{461,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a634a795028952054be8fa5edd748d0:b6257d2dd693d39880cf2be0b0834ec3:6b216f5daea5fc30b56a21661c2b07f7$</string>
            <key>textureFileName</key>
            <string>playScenesc.png</string>
        </dict>
    </dict>
</plist>
