<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baodingmajiong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,56}</string>
                <key>spriteSourceSize</key>
                <string>{210,56}</string>
                <key>textureRect</key>
                <string>{{394,67},{210,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>beilv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,48}</string>
                <key>spriteSourceSize</key>
                <string>{105,48}</string>
                <key>textureRect</key>
                <string>{{684,0},{105,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnexit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,67}</string>
                <key>spriteSourceSize</key>
                <string>{61,67}</string>
                <key>textureRect</key>
                <string>{{100,0},{61,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cbx0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cnx1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>createroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,72}</string>
                <key>spriteSourceSize</key>
                <string>{222,72}</string>
                <key>textureRect</key>
                <string>{{1480,67},{222,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>datianjiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,50}</string>
                <key>spriteSourceSize</key>
                <string>{133,50}</string>
                <key>textureRect</key>
                <string>{{886,0},{133,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doudizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,61}</string>
                <key>spriteSourceSize</key>
                <string>{123,61}</string>
                <key>textureRect</key>
                <string>{{1019,0},{123,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fending.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,46}</string>
                <key>spriteSourceSize</key>
                <string>{105,46}</string>
                <key>textureRect</key>
                <string>{{369,0},{105,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{161,0},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>majiangbisaichang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,58}</string>
                <key>spriteSourceSize</key>
                <string>{225,58}</string>
                <key>textureRect</key>
                <string>{{1255,67},{225,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinsanzhang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,59}</string>
                <key>spriteSourceSize</key>
                <string>{138,59}</string>
                <key>textureRect</key>
                <string>{{1413,0},{138,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pinshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,56}</string>
                <key>spriteSourceSize</key>
                <string>{97,56}</string>
                <key>textureRect</key>
                <string>{{789,0},{97,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qunzhudaikai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,73}</string>
                <key>spriteSourceSize</key>
                <string>{222,73}</string>
                <key>textureRect</key>
                <string>{{1702,67},{222,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quyangmajiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,56}</string>
                <key>spriteSourceSize</key>
                <string>{206,56}</string>
                <key>textureRect</key>
                <string>{{188,67},{206,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>renshuxuanze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,46}</string>
                <key>spriteSourceSize</key>
                <string>{189,46}</string>
                <key>textureRect</key>
                <string>{{1727,0},{189,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roomline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1107,4}</string>
                <key>spriteSourceSize</key>
                <string>{1107,4}</string>
                <key>textureRect</key>
                <string>{{0,140},{1107,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shjiazhuangmajiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,58}</string>
                <key>spriteSourceSize</key>
                <string>{221,58}</string>
                <key>textureRect</key>
                <string>{{1034,67},{221,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sichuanmajiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,57}</string>
                <key>spriteSourceSize</key>
                <string>{176,57}</string>
                <key>textureRect</key>
                <string>{{1551,0},{176,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tangshanmajiong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,58}</string>
                <key>spriteSourceSize</key>
                <string>{210,58}</string>
                <key>textureRect</key>
                <string>{{604,67},{210,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuidaohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,54}</string>
                <key>spriteSourceSize</key>
                <string>{134,54}</string>
                <key>textureRect</key>
                <string>{{1279,0},{134,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,144},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanfa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,46}</string>
                <key>spriteSourceSize</key>
                <string>{105,46}</string>
                <key>textureRect</key>
                <string>{{474,0},{105,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaotianjiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,49}</string>
                <key>spriteSourceSize</key>
                <string>{137,49}</string>
                <key>textureRect</key>
                <string>{{1142,0},{137,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yafen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,46}</string>
                <key>spriteSourceSize</key>
                <string>{104,46}</string>
                <key>textureRect</key>
                <string>{{265,0},{104,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yazhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,47}</string>
                <key>spriteSourceSize</key>
                <string>{105,47}</string>
                <key>textureRect</key>
                <string>{{579,0},{105,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiakoumajiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,57}</string>
                <key>spriteSourceSize</key>
                <string>{220,57}</string>
                <key>textureRect</key>
                <string>{{814,67},{220,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhifufangshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,47}</string>
                <key>spriteSourceSize</key>
                <string>{188,47}</string>
                <key>textureRect</key>
                <string>{{0,67},{188,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roomtype.png</string>
            <key>size</key>
            <string>{1924,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec0fab9903a7a04c989aba1c20fe7330:0e1d83a8f629f0f10ed34590c75bab92:db1badc3bff9cd5c09d8c224629b72b9$</string>
            <key>textureFileName</key>
            <string>roomtype.png</string>
        </dict>
    </dict>
</plist>
