<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,37}</string>
                <key>spriteSourceSize</key>
                <string>{67,37}</string>
                <key>textureRect</key>
                <string>{{221,1315},{67,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bangding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,65}</string>
                <key>spriteSourceSize</key>
                <string>{142,65}</string>
                <key>textureRect</key>
                <string>{{362,1141},{142,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,505}</string>
                <key>spriteSourceSize</key>
                <string>{890,505}</string>
                <key>textureRect</key>
                <string>{{1,1},{890,505}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>change.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,49}</string>
                <key>spriteSourceSize</key>
                <string>{190,49}</string>
                <key>textureRect</key>
                <string>{{159,1199},{190,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chongzhi_presh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,66}</string>
                <key>spriteSourceSize</key>
                <string>{139,66}</string>
                <key>textureRect</key>
                <string>{{350,1274},{139,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choongzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,63}</string>
                <key>spriteSourceSize</key>
                <string>{140,63}</string>
                <key>textureRect</key>
                <string>{{159,1250},{140,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>darkmask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{159,1315},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengluyouxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,246}</string>
                <key>spriteSourceSize</key>
                <string>{396,246}</string>
                <key>textureRect</key>
                <string>{{94,893},{396,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,84}</string>
                <key>spriteSourceSize</key>
                <string>{82,84}</string>
                <key>textureRect</key>
                <string>{{338,1381},{82,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fangka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,41}</string>
                <key>spriteSourceSize</key>
                <string>{91,41}</string>
                <key>textureRect</key>
                <string>{{301,1288},{91,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,5}</string>
                <key>spriteSourceSize</key>
                <string>{558,5}</string>
                <key>textureRect</key>
                <string>{{1,893},{558,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{422,1342},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{545,68}</string>
                <key>spriteSourceSize</key>
                <string>{547,70}</string>
                <key>textureRect</key>
                <string>{{8,893},{545,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>id.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,36}</string>
                <key>spriteSourceSize</key>
                <string>{47,36}</string>
                <key>textureRect</key>
                <string>{{301,1250},{47,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,41}</string>
                <key>spriteSourceSize</key>
                <string>{91,41}</string>
                <key>textureRect</key>
                <string>{{159,1381},{91,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>man.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{381,1342},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,56}</string>
                <key>spriteSourceSize</key>
                <string>{201,56}</string>
                <key>textureRect</key>
                <string>{{159,1141},{201,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>messagebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,63}</string>
                <key>spriteSourceSize</key>
                <string>{338,63}</string>
                <key>textureRect</key>
                <string>{{94,1141},{338,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nicheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,41}</string>
                <key>spriteSourceSize</key>
                <string>{91,41}</string>
                <key>textureRect</key>
                <string>{{202,1377},{91,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qianming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{91,42}</string>
                <key>spriteSourceSize</key>
                <string>{93,42}</string>
                <key>textureRect</key>
                <string>{{1,1453},{91,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>repage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,64}</string>
                <key>spriteSourceSize</key>
                <string>{140,64}</string>
                <key>textureRect</key>
                <string>{{351,1208},{140,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rollbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,51}</string>
                <key>textureRect</key>
                <string>{{422,1426},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tou-xiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{202,1420},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>women.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,36}</string>
                <key>spriteSourceSize</key>
                <string>{35,36}</string>
                <key>textureRect</key>
                <string>{{344,1342},{35,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,41}</string>
                <key>spriteSourceSize</key>
                <string>{90,41}</string>
                <key>textureRect</key>
                <string>{{295,1381},{90,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>userinfo.png</string>
            <key>size</key>
            <string>{507,1496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2484af913ec28424c54acdba1cb45dcc:6e8ed32388bbd876cf6f6776d4d05bcd:2acc6c349b950709dcf0edb34faac4dd$</string>
            <key>textureFileName</key>
            <string>userinfo.png</string>
        </dict>
    </dict>
</plist>
